:root {
  --main-color: #369;
}

body {
  background-color: #eee;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 600px;
  border: solid 1px var(--main-color);
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.form-container h1 {
  margin: 0;
  padding: 80px 20px 20px 20px;
  background-color: var(--main-color);
  color: white;
}

.form-container form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form-container fieldset {
  display: flex;
  flex-direction: column;
  border: solid 1px #eee;
  padding: 15px;
  margin: 10px 0;
}

input, select {
  font-size: 1rem;
  padding: 10px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-bottom: solid 1px #666;
  border-radius: 0;
  outline: none;
}

input:focus,
select:focus {
  border-color: #999;
}

button {
  font-size: 1rem;
  padding: 15px 30px;
  border-radius: 4px;
  border: none;
  background-color: var(--main-color);
  color: white;
}
